<odoo>
    <data noupdate="1">
        <record id="view_api_url" model="ir.config_parameter">
            <field name="key">api_url_key</field>
            <field name="value"></field>
        </record>
        <record id="view_api_username" model="ir.config_parameter">
            <field name="key">api_username</field>
            <field name="value"></field>
        </record>
        <record id="view_api_password" model="ir.config_parameter">
            <field name="key">api_password</field>
            <field name="value"></field>
        </record>
        <record id="view_api_db" model="ir.config_parameter">
            <field name="key">api_db</field>
            <field name="value"></field>
        </record>
    </data>
</odoo>